numpy==1.26.4
scipy
matplotlib
pandas
pandas-stubs
tenacity
pytest
wheel
ipython
jupyter
seaborn
scikit-learn
requests
tqdm
mypy
webcolors
jinja2
pre-commit
sphinx
isort
flake8
pyinstaller
XlsxWriter
black
pylint
notebook
coverage
pytest-cov